@model ST10251759_PROG6212_POE.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByCoordinator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByCoordinator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClaimId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
